body {
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h4, h5 {
    font-family: "Playfair Display", cursive;
}

h4 {
    font-style: italic;
    font-weight: 700;
}

#reviewsRow div div div {
    padding: .75em;
}

